/*latest worked on*/

/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */



html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /* BASE FONTS
   font-family: 'Abel', sans-serif;
   font-family: 'Maven Pro', sans-serif;
   font-family: 'Rajdhani', sans-serif;
   */


   /***** BASE STYLES *******/
   body {
     font-family: 'Abel', sans-serif;
     width: 100%;
   }


   /******* GRID ******/

   .full-width {
     width: 100%;
     margin: 0 auto;
   }


   /***** HEADER ******/
   header {
     background-image: url('http://res.cloudinary.com/morgacoo/image/upload/c_scale,w_2000/v1503508521/camera-large_syduvl.jpg');
     height: auto;
     background-size: cover;
     background-repeat: repeat-x;
     width: 100%;
     margin-top: 0%;
     border-bottom: 2px solid #996600;
     border-top: 1px solid #996600;
     margin-bottom: 0;
   }


   header h1 {
     font-family:'Lora', serif;
     font-size: 30px;
     color: #828282;
     padding: 5% 0 0 5%;
   }

   nav {
     background-color: rgba(150, 29, 56, 0.7);
     width: 100%;
     margin-top: -1%;
     padding-top: 1%;
     border-bottom: 5px solid #996600;

   }

   nav ul li {
     display: block;
     width: 100%;
     margin-top: 5%;
     text-align: center;

}

   nav ul li a {
     text-transform: capitalize;
     text-decoration: none;
     font-size: 1.5em;
     color: #828282;
     width: 100%;
   }

   nav ul li a:hover {
     color: #996600;
   }

   nav i {
     margin-right: 3%;
   }

   .top-section {
     height: 100%;
     width: 100%;
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: center;
   }

   header img {
     margin: 15% auto;
     max-height: 75%;
     max-width: 75%;
     display: block;
   }


   header h2 {
     width: 100%;
     font-family:'Lora', serif;
     font-size: 10.5vw;
     line-height: 1.3em;
     color: #9b9b9b;
     padding: 10% 0 0 0;
     text-align: center;
   }

   header h2 span {
     color: #2b2b2b;
   }

   .red-type {
     color: #961d38;
   }


   /***** ABOUT ******/
   #about {
     min-height: 1020px;
     width: 96%;
     padding: 0 7%;
     /*border-bottom: 1px solid #996600; FIGURE OUT HOW TO FIX HEIGHT OF ELEMENT*/
   }




   #about h2 {
     font-family: 'Lora', serif;
     font-size: 36px;
     color: #13132f;
     margin-bottom: 0;
   }

   #about p {
     font-size: 21px;
     color:#7f7f7f;
     line-height: 40px;
     padding-right: 50px;
     text-align: justify;
   }


   /****** WORK ******/

   #work {
     background: #961d38;
     text-align: center;
     background-color: rgba(150, 29, 56, 0.9);
     min-height: 1200px;

   }

   #work .full-width{
     padding: 115px 0;
   }

   #work img{
     padding-bottom: 30px;
   }

   #work h3 {
     font-size: 24px;
     margin: 0 auto;
     width: 190px;
     color: #13132f;
   }

   #work p {
     color: black;
     font-family: 'Lora', serif;
     font-size:18px;
     line-height:30px;
     padding: 0 35px;
   }



   /****** CONTACT ******/

   #contact {
     background: #ebebeb;
     min-height: 800px;
     color: #13132f;

   }

   #contact .full-width {
     padding: 55px 0;
   }

   #contact-img {
     position: relative;
     margin-bottom: 5%;
     left: 13%;
     max-height: 75%;
     max-width: 75%;
     display: block;
     }

   .contact-logo {
     height: 100%;
     width: 100%;
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: center;
   }

    .contact-logo img {
       margin-top: 15%;
       max-height: 75%;
       max-width: 75%;
       display: block;
       margin-top: 2%;
     }

   #contact h2, #email-header, #socialmedia-header, #contact ul {
     padding-left: 6%;
   }

   #envelope {
     padding-left: 5%;
   }

   #contact h2 {
     font-family:'Lora', serif;
     font-size: 36px;
     padding-left: 5%;
   }

   #email-header { /**Coffee**/
     font-size: 32px;
     font-weight:400;
     margin: -30px 0 5px 0;
     padding-left: 5%;

   }

   #socialmedia-header {
     font-weight:bold;
     font-size:1.5em;
     margin: 40px 0 0px 0;
     padding-left: 5%;

   }

   #contact a {
     color:#961d38;
     text-decoration: none;
     font-size:28px;
     font-weight:thin;
   }

   #contact ul {
     list-style: none;
     width: 100%;
     padding-left: 5%;

   }

   #contact ul li {
     display: inline-block;
     margin-right: 10%;
   }







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media screen and (min-width: 768px) {
    /* Style adjustments for viewports that meet the condition */
    body {
      font-family: 'Abel', sans-serif;
      width: 100%;
    }
    #about, #work, #contact {
      max-height: 600px;
    }


}

@media screen and (min-width: 940px) {




  /******* GRID ******/

  .full-width {
    width: 100%;
    margin: 0 auto;
  }

  .half-width {
    width: 50%;
    float: left;
  }

  .third-width {
    width: 33%;
    float: left;
  }

  /***** HEADER ******/
  header {
    background-image: url('http://res.cloudinary.com/morgacoo/image/upload/c_scale,w_2000/v1503508521/camera-large_syduvl.jpg');
    height: auto;
    background-size: cover;
    background-repeat: repeat-x;
    width: 100%;
    margin-top: 0%;
    border-bottom: 2px solid #996600;
    border-top: 1px solid #996600;
    margin-bottom: 0;
  }


  header h1 {
    font-family:'Lora', serif;
    font-size: 30px;
    color: #828282;
    padding: 5% 0 0 5%;
  }

  nav {
    background-color: rgba(150, 29, 56, 0.7);
    width: 100%;
    margin-top: -1%;
    padding-top: 1%;
  }


  nav ul li {
    display: inline;
    padding-bottom: 0;
    padding-right: 4%;
    padding-left: 0;
    text-align:left;
  }

      nav ul li:nth-child(1) {
        margin-left: 50%;
      }

  nav ul li a {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.5em;
    color: #828282;
    padding-left: 1%;
  }

  nav ul li a:hover {
    color: black;
  }


  #header_logo {
    display: none;
    position: relative;
    max-height: 400px;;
    max-width: 400px;
    margin-left: -35%;
    margin-top: -8%;
    clear: both;
    clear: both;
  }

  .header-text {
    clear: both;
    margin-top: 15%;
    margin-left: -45%;
    padding-top: 0;
    text-align: left;
    font-size: 4.0vw;
  }

  header h2 {
    font-size: 4.5vw;
    line-height: 1.3em;
    color: #9b9b9b;
  }

  header h2 span {
    color: #2b2b2b;
  }

  .red-type {
    color: #961d38;
  }

  /*********   ABOUT     ***************/

  #about {
    border-bottom: 2px solid #996600; /* FIGURE OUT HOW TO FIX HEIGHT OF ELEMENT*/
    width: 90%;
    padding-left: 7%;
  }

  #about .half-width {
    width: 47%;
    margin-right: 2%;
  }

  #about h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    color: #13132f;
    margin-bottom: 0;

  }

  #about p {
    font-size: 21px;
    color:#7f7f7f;
    line-height: 2em;
    text-align: justify;
  }


  /****** WORK ******/

  #work{
    background: #961d38;
    text-align: center;
    background-color: rgba(150, 29, 56, 0.9);
  }

  #work .full-width{
    padding: 115px 0;
  }

  #work img{
    padding-bottom: 30px;
  }

  #work h3 {
    font-size: 24px;
    margin: 0 auto;
    width: 190px;
    color: #13132f;
  }

  #work p {
    color: black;
    font-family: 'Lora', serif;
    font-size:18px;
    line-height:30px;
    padding: 0 35px;
  }



  /****** CONTACT ******/

  #contact {
    background: #ebebeb;
    border-top: 3px solid #996600;

  }

  #contact .full-width {
    padding: 55px 0;
  }

  #contact-img {
    height: 500px;
    width: 500px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
  }

  #contact h2, #email-header, #socialmedia-header, #contact ul {
    padding-left: 115px;
  }

  #envelope {
    padding: 0 10px 0 115px
  }

  #contact h2 {
    font-family:'Lora', serif;
    font-size: 36px;
    color: #13132f;
  }

  #email-header { /**Coffee**/
    font-size: 32px;
    font-weight:400;
    margin: -30px 0 5px 0;
  }

  #socialmedia-header {
    font-weight:bold;
    font-size:29px;
    margin: 40px 0 0px 0;
  }

  #contact a {
    color:#961d38;
    text-decoration: none;
    font-size:28px;
    font-weight:thin;
  }

  #contact ul {
    list-style: none;
  }

  #contact ul li {
    display: inline-block;
  }

  #contact ul img {
    padding-right: 10%;
  }

  #contact h3{
    color: #13132f;
  }

}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
